<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello World</title>
    <link rel="stylesheet" href="/stylesheets/app.css" />
  </head>
  <body>

    <!-- print flash messages -->
    <% flash.each do |type, message| %>
      <div class="flash flash-<%= type %>">
        <%= message %>
      </div>
    <% end %>

    <!-- main content -->
    <%= yield %>

    <script src="/javascripts/app.js"></script>
  </body>
</html>
